/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-canvas{
	border: 2px solid black;
	max-width: inherit;
}

#map-wrap{
	width:700px; 
	height: 500px; 
	margin-left: 1px;
	float: left;
}

#taco-list{
	float: left;
	width: 200px;
	height: 100%;
	padding: 10px;
	overflow: scroll;
}


.info-item{
	padding: 10px;
	cursor: pointer;

}

.info-item .name{
	font-weight: bold;
}

.info-item:hover{
	background-color: #eee;
}


img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}






