/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 40px;
	padding-bottom: 40px;
}

#map-wrap {
	width: 100%;
	height: 750px;
}

#taco-list {
	position: fixed;
	right: 0;
	top: 40px;
	width: 220px;
	height: 100%;
	background: #fff;
	overflow-y: scroll;
}

.info-item-container:hover {
	background-color: #eee;
}

.info-item {
	padding: 10px;
	cursor: pointer;
	width: 160px;
	margin: 0 auto;
}

.info-item .name {
	font-weight: bold;
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"]  {
    max-width: 99999px;
}

.header-error {
	height:40px; color:red; line-height:40px; margin-right: 15px;
}

.visit-wrap{
	margin-top: 5px;
}

.visit-btn{
	margin-right: 8px;
}

.slider{
	margin-top: 10px;
	margin-bottom: 10px;
}





